@model SurveysProject.Models.ViewModels.ResponseQuestion

@{
    ViewData["Title"] = "Complete Survey";
}

<div class="card bg-light text-dark">
    <h1 class="card-body" id="survey">@Model.Survey.Title</h1>
</div>
<br />

<br />

@using (Html.BeginForm("AddResponse", "CompleteSurvey", new { surveyId=Model.Survey.Id, page=ViewBag.page}))
{
   
    <h2>@Model.Question.Text</h2>
    foreach (var item in Model.Question.Options)
    {
        <div> @Html.RadioButtonFor(s => s.SelectedOptionId, item.QuestionOptionId) @item.QuestionOptionText</div>
    }

    //asigura-te ca a fost selectata optiunea
    <input type="submit" value="Next"/>
}

