@{
    ViewData["Title"] = "Complete Survey";
}

<div class="card bg-light text-dark">
    <h1 class="card-body">Title</h1>
</div>
<br />

<h2>@ViewBag.MyQuestion</h2>


<br />
<div class="form-check">
    <div>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">@ViewBag.MyResponse1
        </label>
    </div>

    <div>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">@ViewBag.MyResponse2
        </label>
    </div>

    <div>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">@ViewBag.MyResponse3
        </label>
    </div>

</div><br />

<button type="submit" class="btn btn-outline-warning">Next Question</button>
<button type="submit" class="btn btn-outline-success" disabled>Final Submit</button>


