@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model SurveysProject.Models.Survey


@{
    ViewData["Title"] = "Create Survey";
}


<div class="col-md-4">
    <form asp-action="AddSurvey" asp-route-id="Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" placeholder="Enter title" id="title" />
            <p style="color:red; margin-top:2%; margin-bottom:2%">@ViewBag.errorTitle</p>
        </div>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
        {
            <div class="form-group">
                <label asp-for="CreateFor" class="control-label"></label>
                <input asp-for="CreateFor" class="form-control" placeholder="Student or Teacher?" id="createFor" />
                <p style="color:red; margin-top:2%; margin-bottom:2%">@ViewBag.errorCreateFor</p>
            </div>
        }
        
        <input type="submit" class="btn btn-info" value="Next to Questions" />
    </form>
</div>
