@model SurveysProject.Models.Survey


@{
    ViewData["Title"] = "Create Survey";
}


<div class="col-md-4">
    <form asp-action="AddSurvey" asp-route-id="Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" placeholder="Enter title" id="title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-success" value="Next to Questions" />
    </form>
</div>
