@model IEnumerable<SurveysProject.Models.Survey>

@{
    ViewData["Title"] = "Statistics";
}

<h1> Statistics</h1>

<div class="col-md-8">
    <label for="survey">Survey:</label>
    <select class="form-control" id="survey">
        @foreach (var item in Model)
        {
            <option>@item.Title</option>
        }
    </select>
</div>
<br />
<button style="margin-left:40px"type="button" class="btn btn-success">Search</button>