@model IEnumerable<SurveysProject.Models.Survey>

@{
    ViewData["Title"] = "Statistics";
}

<h1> Statistics</h1>

<div class="col-md-8">
    <label for="survey">Survey:</label>
    <select class="form-control" id="survey">
        @foreach (var item in Model)
        {
            <option id="@item.Id">@item.Title</option>
        }
    </select>

    <br />
    <a href="" onclick="GetSurvey()" type="button" class="btn btn-info">Search</a>
</div>

 
<script>
    function GetSurvey() {
        debugger;
        surveyId = $("#survey option:selected").attr("id");
        $.ajax({
            url: "Statistics/ShowResults",
            type: "GET",
            data: {
                surveyId: surveyId
            },
            'success': function (data) {}
        })
    }
   
</script>