@model IEnumerable<SurveysProject.Models.Survey>

@{
    ViewData["Title"] = "Statistics";
}

<h1> Statistics</h1>

<body>

    <table class="table">
        <thead>
            <tr class="text-white" style="background-color: #4d90ba ">

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>

                    <td>
                        <a href="@Url.Action("ShowResults", "Statistics", new {surveyId= item.Id})" class="btn btn-outline-info">View Statistics</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</body>