
@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div class="form-group">
    <label for="survey">Survey:</label>
    <select class="form-control" id="survey">
        <option>Survey 1</option>
        <option>Survey 2</option>
        <option>Survey 3</option>
    </select>
</div>

<button type="button" class="btn btn-danger">Search</button>