@model IEnumerable<SurveysProject.Models.Survey>

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div class="form-group">
    <label for="survey">Survey:</label>
    <select class="form-control" id="survey">
        @foreach (var item in Model)
        {
            <option>@item.Title</option>
        }
        </select>
</div>

<button type="button" class="btn btn-danger">Search</button>