@model SurveysProject.Models.ViewModels.DataModel


<head>
    <title>@ViewData["Title"] Created Survey</title>
</head>


<div class="col-md-12">
    <form asp-controller="Question" asp-action="AddQuestion" asp-route-id="Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <input type="hidden" asp-for="Survey.Id" id="survey" />
            <label asp-for="Survey.Title" class="control-label"></label>
            <input asp-for="Survey.Title" class="form-control" value="@Model.Survey.Title" id="surveyTitle" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Question.Text" class="control-label"></label>
            <div class=" input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@ViewBag.question</div>
                </div>
                <input asp-for="Question.Text" class="form-control" placeholder="Enter question" id="Question.Text" />
                <span asp-validation-for="Question.Text" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="btn btn-info" value="Next to Question Options" />
        <a href="@Url.Action("CreatedSuccessfully", "CreateSurvey")" type="button" class="btn btn-outline-info">Finish Survey</a>
    </form>
</div>

