@model SurveysProject.Models.Data.DataModel


@{
    ViewData["Title"] = "Create Survey";
}


<div class="col-md-12">
    <form asp-controller="Question" asp-action="AddQuestion" asp-route-id="Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Survey.Id" id="survey" />
        <div class="form-group">
            <label asp-for="Question.Text" class="control-label"></label>
            <input asp-for="Question.Text" class="form-control" placeholder="Enter question" id="question1" />
            <span asp-validation-for="Question.Text" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QuestionOption1.QuestionOptionText" class="control-label"></label>
            <div class=" input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">1</div>
                </div>
                <input asp-for="QuestionOption1.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption1" />
            </div>
            <span asp-validation-for="QuestionOption1.QuestionOptionText" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QuestionOption2.QuestionOptionText" class="control-label"></label>
            <div class=" input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">2</div>
                </div>
                <input asp-for="QuestionOption2.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption2" />
            </div>
            <span asp-validation-for="QuestionOption2.QuestionOptionText" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QuestionOption3.QuestionOptionText" class="control-label"></label>
            <div class=" input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">3</div>
                </div>
                <input asp-for="QuestionOption3.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption3" />
            </div>
            <span asp-validation-for="QuestionOption3.QuestionOptionText" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-warning" value="Insert Question" />
        <a href="@Url.Action("CreatedSuccessfully", "CreateSurvey")" type="button" class="btn btn-success">Finish Survey</a>
    </form>
</div>

<!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Finish Survey</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>After this action the information on this page will be lost.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Finish Survey</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script type="text/javascript">
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>
           -->
