@model SurveysProject.Models.Data.DataModel


@{
    ViewData["Title"] = "Create Survey";
}


@*<div class="row">
    <div class="col-md-12">
        <form asp-action="AddQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" placeholder="Enter question" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Response.ResponseText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">1</div>
                    </div>
                    <input asp-for="Response.ResponseText" class="form-control" placeholder="Enter response" id="Response1" />
                </div>
                <span asp-validation-for="Response.ResponseText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Response.ResponseText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">2</div>
                    </div>
                    <input asp-for="Response.ResponseText" class="form-control" placeholder="Enter response" id="Response2" />
                </div>
                <span asp-validation-for="Response.ResponseText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Response.ResponseText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">3</div>
                    </div>
                    <input asp-for="Response.ResponseText" class="form-control" placeholder="Enter response" id="Response3" />
                </div>
                <span asp-validation-for="Response.ResponseText" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-warning">Next Question</button>
            <a href="@Url.Action("AddQuestion","CreateSurvey")" type="submit" class="btn btn-success" id="saveBtn">Final Submit</a>
        </form>
    </div>
</div>*@
