@model SurveysProject.Models.Data.DataModel


@{
    ViewData["Title"] = "Create Survey";
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddQuestion" asp-route-id="Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" placeholder="Enter question" id="questionText" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionOption.QuestionOptionText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">1</div>
                    </div>
                    <input asp-for="QuestionOption.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption1" />
                </div>
                <span asp-validation-for="QuestionOption.QuestionOptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionOption.QuestionOptionText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">2</div>
                    </div>
                    <input asp-for="QuestionOption.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption2" />
                </div>
                <span asp-validation-for="QuestionOption.QuestionOptionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuestionOption.QuestionOptionText" class="control-label"></label>
                <div class=" input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">3</div>
                    </div>
                    <input asp-for="QuestionOption.QuestionOptionText" class="form-control" placeholder="Enter question option" id="questionOption3" />
                </div>
                <span asp-validation-for="QuestionOption.QuestionOptionText" class="text-danger"></span>
            </div>

            <input type="submit" class="btn btn-warning" value="Next Question"/>
            <input type="submit" class="btn btn-success" id="saveBtn" value="Final Submit"/>
        </form>
    </div>
</div>
